.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 20px;
  /* margin: auto; */
}
.product-image {
  width: 100%;
  height: 500px;
  margin: auto;
}
.product-right {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  flex-direction: column;
  margin: auto;
}
.product-button {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  /* padding-left: 20px; */
}
.add {
  padding: 5px 20px;
  width: auto;
  border: 3px solid #000;
  border-radius: 20px;
  font-size: 20px;
  background-color: #fff;
  font-weight: bolder;
}
.add:hover {
  background-color: #000;
  color: #fff;
}
#img {
  width: 80%;
  margin: auto;
}
.product-detail {
  
}
@media screen and (min-width: 768px) {
  .product {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 40%;
  }
  #img {
    width: 70%;
    margin: auto;
  }
  .product-image {
    width: 100%;
    height: 500px;
  }
  .product-right {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10px;
  }
  .product-button {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  .add {
    padding: 5px 20px;
    border: 3px solid #000;
    border-radius: 20px;
    font-size: 20px;
    background-color: #fff;
    font-weight: bolder;
  }
  .add:hover {
    background-color: #000;
    color: #fff;
  }
}
#add, #minus {
  /* padding: 5px 20px; */
  height: 40px;
  width: 40px;
  border: 0px solid gray;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  font-weight: bolder;
}
#amount {
  width: 40px;
}
.value {
  width: 50%;
}